.background {
  viewport-fill: #28002d;
}

#timeLabel {
  font-size: 135;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+50;
  fill: #A8A8A8;
}

#batteryLabel {
  font-size: 30;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: start;
  x: 11%;
  y: 84%+15;
  fill: #A8A8A8;
}

#dayLabel {
  font-size: 40;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 7%+20;
  fill: #A8A8A8;
}

#dateLabel {
  font-size: 40;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 25%+20;
  fill: #A8A8A8;
}

#amPmLabel {
  font-size: 30;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: end;
  x: 88%;
  y: 84%+15;
  fill: #A8A8A8;
}