.background {
  viewport-fill: #4C0254;
}

#timeLabel {
  font-size: 100;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+35;
  fill: #A8A8A8;
}
#amPmLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 70%+10;
  fill: #A8A8A8;
}

#batteryLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 30%+10;
  fill: #A8A8A8;
}

#dayLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 10%+10;
  fill: #A8A8A8;
}

#dateLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 20%+10;
  fill: #A8A8A8;
}

#tempLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 90%+10;
  fill: #A8A8A8;
}

#weatherLabel {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 80%+10;
  fill: #A8A8A8;
}

